.submissionPanel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(8, 46, 46, 0.418);
    width: 50%;
    height: auto;
    border-radius: 40px;
}

.bg {
    text-align: center;
    padding:100px;
    background: linear-gradient(-45deg, #00b2f3, #23d5ab);
    color: white;
    background-color: rgb(36, 108, 150); /* For browsers that do not support gradients */
    margin-top:0px;
}

.textbox {
    width: 70% !important;
    height: 4vh;
    padding-top: 5px;
    border-radius: 10px;
    border-width: 0px;
    font-size: 16px;
    text-align: center;
}

.submit {
    margin: 30px;
    font-size: 24px;
}
