/*
I'm begging you.... please make this look good :(

Also we can get rid of all of the contents of this file-- this is only used for the default page (which I got rid of)
*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  position:relative;
  color: rgb(255, 255, 255);
  text-align: center;
  padding:100px;
  background: linear-gradient(-45deg, #00b2f3, #23d5ab);
  color: white;
  background-color: rgb(36, 108, 150); /* For browsers that do not support gradients */
  margin-top:0px;
}